<crud-modal
  [formGroup]="formGroup"
  [loading]="loading"
  (save)="save()"
  (cancel)="cancel()"
>
  <ng-template CrudModal let-loading>
    <crud-input-text
      [formGroup]="formGroup"
      [disabled]="loading"
      name="name"
      label="Nombre"
    ></crud-input-text>

    <crud-input-dropdown
      [formGroup]="formGroup"
      [disabled]="loading"
      name="floor"
      label="Planta"
      [options]="(floors$ | async)!"
      optionLabel="name"
      optionValue="id"
    ></crud-input-dropdown>
  </ng-template>
</crud-modal>

<!-- <pre>{{ formGroup.getRawValue() | json }}</pre> -->
