<crud-table [modalComponent]="modalComponent" [service]="articlesService">
  <ng-template CrudTableHeaders let-table>
    <th pSortableColumn="name">
      Nombre
      <p-sortIcon field="name"></p-sortIcon>
      <p-columnFilter
        type="text"
        field="name"
        display="menu"
        [showOperator]="false"
        [showAddButton]="false"
      ></p-columnFilter>
    </th>
    <th pSortableColumn="description">
      Descripción
      <p-sortIcon field="description"></p-sortIcon>
      <p-columnFilter
        type="text"
        field="description"
        display="menu"
        [showOperator]="false"
        [showAddButton]="false"
      ></p-columnFilter>
    </th>
    <th pSortableColumn="dueDate">
      Fecha de Vencimiento
      <p-sortIcon field="dueDate"></p-sortIcon>
      <p-columnFilter
        type="date"
        field="dueDate"
        display="menu"
        [showOperator]="false"
        [showAddButton]="false"
      ></p-columnFilter>
    </th>
  </ng-template>

  <ng-template CrudTableBody let-row>
    <td>{{ row.name }}</td>
    <td>{{ row.description }}</td>
    <td>{{ row.dueDate | date : "dd/MM/yyyy" }}</td>
  </ng-template>
</crud-table>
