<crud-table [modalComponent]="modalComponent" [service]="articlesService">
  <ng-template CrudTableHeaders let-table>
    <th pSortableColumn="name">
      <div class="flex items-center">
        Nombre
        <p-sortIcon field="name"></p-sortIcon>
        <p-columnFilter
          type="text"
          field="name"
          display="menu"
          [showOperator]="false"
          [showAddButton]="false"
        ></p-columnFilter>
      </div>
    </th>
    <th pSortableColumn="description">
      <div class="flex items-center">
        Descripción
        <p-sortIcon field="description"></p-sortIcon>
        <p-columnFilter
          type="text"
          field="description"
          display="menu"
          [showOperator]="false"
          [showAddButton]="false"
        ></p-columnFilter>
      </div>
    </th>
    <th pSortableColumn="category.name">
      <div class="flex items-center">
        Categoría
        <p-sortIcon field="category.name"></p-sortIcon>
        <p-columnFilter
          type="text"
          field="category.name"
          display="menu"
          [showOperator]="false"
          [showAddButton]="false"
        ></p-columnFilter>
      </div>
    </th>
    <th pSortableColumn="unit.name">
      <div class="flex items-center">
        Unidad
        <p-sortIcon field="unit.name"></p-sortIcon>
        <p-columnFilter
          type="text"
          field="unit.name"
          display="menu"
          [showOperator]="false"
          [showAddButton]="false"
        ></p-columnFilter>
      </div>
    </th>
    <th pSortableColumn="dueDate">
      <div class="flex items-center">
        Fecha de Vencimiento
        <p-sortIcon field="dueDate"></p-sortIcon>
        <p-columnFilter
          type="date"
          field="dueDate"
          display="menu"
          [showOperator]="false"
          [showAddButton]="false"
        ></p-columnFilter>
      </div>
    </th>
  </ng-template>

  <ng-template [CrudTableBody]="model" let-row>
    <td>{{ row.name }}</td>
    <td>{{ row.description }}</td>
    <td>{{ row.expand?.category?.name }}</td>
    <td>{{ row.expand?.unit?.name }}</td>
    <td>{{ row.dueDate | date : "dd/MM/yyyy" }}</td>
  </ng-template>
</crud-table>
